{% extends 'recbase.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Page</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
</head>
<style>
    body{
        font-family: 'Orbitron';
        
        font-family: 'Orbitron';
        background-color: black;
        color: green;
        
    }

    .b{
        width: 60%;
    }

    .ass{
      width: 1300px;
      margin-left: 300px;
    }
    
    .card:hover {
  box-shadow: 0 8px 16px 0 green;
}
</style>
<body>
    {% comment %} #=<h1 class="ha"> Hello {{user.username}} your role is Recruiter </h1> {% endcomment %}

    <div class="card ass" style="height: max-content; margin-top: 200px">

      <main class="px-3 ">
        <h1>Find the perfect applicant</h1>
        <br>
        <p class="lead">To use the portal for ethical reasons and follow standard security, Connecting with the candidates through your work mail is suggested</p>
        <p class="lead">
          
      </main>


    
</body>
</html>
{% endblock body %}


